# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local configuration
.env
.env.local

.env
**venv**
**/downloaded_pdfs/**/*.pdf
**/downloaded_pdfs/**/*.PDF
**/processed_pdfs/**/*.pdf
**/processed_pdfs/**/*.PDF
**/processed_txt/**/*.txt
**/processed_json/**/*.json
**/outputs_txt/*.txt
**/outputs_json/*.json